.bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.form-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 900px;
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
  z-index: 1000;
  max-height: 90vh;
  // margin: 50px 0;
  overflow-y: auto;
  .form-body {
    .modal-title {
      margin-bottom: 50px;
    }
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    .inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      // padding: 10px;
      gap: 30px;
      height: 100%;
      .input-block {
        position: relative;
        min-width: 353px;

        flex-grow: 1;

        @media only screen and (max-width: 600px) {
          min-width: 100%;
        }
        .role-arrow {
          position: absolute;
          bottom: 8px;
          right: 16px;
          cursor: pointer;
        }
        .rotate-icon {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
        .roles {
          position: absolute;
          z-index: 100;
          background-color: #aa8f8f;
          width: 100%;
          padding: 10px 15px 10px 5px;

          border-radius: 8px;
          border: 1px solid var(--bg, #edf3fb);
          background: var(--neutral-white, #fff);

          /* Soft Shadow */
          box-shadow: 0px 4px 30px 0px rgba(46, 45, 116, 0.1);
          .roles-body {
            max-height: 244px;
            height: 100%;
            overflow-y: auto;
            .roles-item {
              color: var(--dark-grey, #737373);

              /* 16 reg */
              font-family: Raleway;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 24px */
              padding: 10px;
              margin-right: 10px;
            }
          }
        }
        .input-label {
        }
        .input {
        }
      }
    }
    .allow-data-block {
      .allow-title {
        margin: 30px 0 15px;
      }
      .allows {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .allow-item {
          display: flex;
          align-items: center;
          gap: 10px;

          font-family: Raleway;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          .allow-icon {
            display: block;
          }
        }
      }
    }
  }
  .submit-btn {
    margin-top: 50px;
  }
}
